
/* Background */
.background {
  background-color: #F9FAFB;
}

/* Body */
.container {
  text-align: center;
  padding: 20px;
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  padding: 20px;
  margin: 20px;
  color: #5B5D79;
}

.card h1,h2 {
  color: #767DBC; /*#7b5df4*/
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
  margin: 40px;
}

.card h2 {
  font-size: 20px;
  margin: 20px;
  color: #767DBC; /*#7b5df4*/
  font-family: 'Open Sans', sans-serif;
}

.card p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.card img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 70%;
}

.button {
  padding: 40px;
  margin: 20px;
}


.button a{
  cursor: pointer;
  text-decoration: none;
  background-color: #532ee7;
  border-radius: 5px;
  color: white;
  padding: 15px;
 }

/* Icons */

.list-inline > ul {
  list-style-type: none;
  padding-left: 0px;
  list-style: none;
}

.list-inline  li {
  display: inline-block;
  margin: 0px;
}

.fab {
  padding: 20px;
  font-size: 30px;
  color: #7f6bd1;
}


/* Responsiveness */
@media (max-width: 1020px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 400px;
  }
}



